# 1. Data cleaning process for the model that predict whether a employee will leave

## import package

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestRegressor

## import dataset

In [2]:
df = pd.read_csv("put your HR dataset.csv here", encoding = 'unicode_escape', low_memory = False)

## import exel

In [4]:
import xlrd
import pandas
features = pandas.read_excel("fexxxres.xlsx") # Original xlsx file here is to help us drop the column at first

In [5]:
column_name_list = features['Column'].tolist()
print(column_name_list[0])
vals_list = features['ACTION'].tolist()
print(vals_list)

ROW_NUM
['D', 'S', 'S', 'S', 'S', 'D', 'S', 'D', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'D', 'S', 'S', 'S', 'S', 'D', 'S', 'D', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'D', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'Y', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', nan, nan, nan, nan, nan, nan, nan, nan, 'S', nan, 'D', nan, 'S', 'S', 'S', 'S', 'S', 'S']

In [6]:
# drop those feature that might not help for our modeling
for index in range(253):
    if (vals_list[index] != 'S'):
        df.drop([column_name_list[index]],axis=1, inplace=True)

In [7]:
# encode time-series data (if 13:00 return 13)
def top_map_alt(time):
    time = str(time)
    t = [char for char in time]
    if(len(t)<=3):
        return 30
    #return int(t[0] + t[1]) 
    
    if t[0] == "0":
        if t[1] == "0":
            return 0
        if t[1] == "1":
            return 1
        if t[1] == "2":
            return 2
        if t[1] == "3":
            return 3
        if t[1] == "4":
            return 4
        if t[1] == "5":
            return 5
        if t[1] == "6":
            return 6
        if t[1] == "7":
            return 7
        if t[1] == "8":
            return 8
        if t[1] == "9":
            return 9
    if t[0] == "1":
        if t[1] == "0":
            return 10
        if t[1] == "1":
            return 11
        if t[1] == "2":
            return 12
        if t[1] == "3":
            return 13
        if t[1] == "4":
            return 14
        if t[1] == "5":
            return 15   
        if t[1] == "6":
            return 16 
        if t[1] == "7":
            return 17
        if t[1] == "8":
            return 18
        if t[1] == "9":
            return 19
    if t[0] == "2":
        if t[1] == 0:
            return 20
        if t[1] == 1:
            return 21
        if t[1] == 2:
            return 22
        if t[1] == 3:
            return 23

In [8]:
# the data encoded from function top_map-alt() will form a new column
# For example, (before we encode the data: EARLIEST_CLOCK_IN_TIME -> after we encode the data will create: new_EARLIEST_CLOCK_IN_TIME)
def top_map_n(df, column):
    df['new_'+ column] = 'ss'
    df['new_'+ column] = df[column].apply(lambda x: top_map_alt(x))
    return

In [9]:
# process all time-series data
top_map_n(df, 'XXXXXXXXXX_IN_TIME')
top_map_n(df, 'XXXXXXXXXX_IN_TIME')
top_map_n(df, 'XXXXXXXXXX_IN_TIME')
top_map_n(df, 'XXXXXXXXXX_TIME')
top_map_n(df, 'XXXXXXXXXX_TIME')
top_map_n(df, 'XXXXXXXXXX_TIME')

In [10]:
# Second way to encode time-series data is like:
# (if clock-in time is between 7:50~9:20, then we encode the data as 0. if colck-in time is between 9:21~18:30, the encode the data as 1)
def free_milk(time):
    time = str(time)
    to_array = [char for char in time]
    if(len(to_array)<=3):
        return 4 
    aa = to_array[0]+to_array[1]+to_array[3]+to_array[4]
    
    target = int(aa, base = 10)

    if(target<749):
        return 3
    if(target<921):
        return 0
    if(target<1831):
        return 1
    return 2

In [11]:
def free_milk_super(df, column):
    df[column] = df[column].apply(lambda x: free_milk(x))
    return

In [12]:
# process all time-series data in second encoding way
free_milk_super(df, 'XXXXXXXXXX_IN_TIME')
free_milk_super(df, 'XXXXXXXXXX_IN_TIME')
free_milk_super(df, 'XXXXXXXXXX_IN_TIME')
free_milk_super(df, 'XXXXXXXXXX_TIME')
free_milk_super(df, 'XXXXXXXXXX_TIME')
free_milk_super(df, 'XXXXXXXXXX_TIME')

## Create a column records those person who clock-out quite precisely at regular clock-out time after working 8 hrs

In [13]:
TIME_MASTER = []
for i in range(len(df)):
    TIME_MASTER.append(0)

In [14]:
# Here is to encode the employee as 1/0 if the person meet our definition 
for i in range(len(df)):
    if df["XXXXXXXXXX_HOUR"].iloc[i] <= 8.08 and df["XXXXXXXXXX_HOUR"].iloc[i] >= 8.0:
        TIME_MASTER[i] = 1
    else:
        TIME_MASTER[i] = 0
print(TIME_MASTER[28:100])

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0]

In [15]:
df['TIME_MASTER'] = TIME_MASTER

## Remove those columns that might help model to predict the target

In [16]:
## drop cheaters and deal with redundant features
df.drop(["XXXXXXXXXX_12M"],axis=1, inplace=True)
df.drop(["XXXXXXXXXX_9M"],axis=1, inplace=True)
df.drop(["XXXXXXXXXX_6M"],axis=1, inplace=True)
df.drop(["XXXXXXXXXX_3M"],axis=1, inplace=True)
df.drop(["XXXXXXXXXX_chr"],axis=1, inplace=True)

# df.drop(["XXXXXXXXXX_ID"], axis = 1, inplace=True)
df.drop(["XXXXXXXXXX_3M"], axis = 1, inplace=True)
df.drop(["XXXXXXXXXX_6M"], axis = 1, inplace=True)
df.drop(["XXXXXXXXXX_LAST"], axis = 1, inplace=True)
df.drop(["XXXXXXXXXX_1st"], axis = 1, inplace=True)
df.drop(["XXXXXXXXXX_HOUR"], axis = 1, inplace=True)
# df.drop(["XXXXXXXXXX_EMP"], axis = 1, inplace=True)

In [1]:
# check columns with high proportion of missing value
total = df.isnull().sum().sort_values(ascending = False)
percent = round(df.isnull().sum().sort_values(ascending = False) / len(df) * 100, 2)
percent[0:20]

In [18]:
# drop those columns with high proportion of missing value
df = df.drop(['XXXXXXXXXX_LOW'], axis = 1)
df = df.drop(['XXXXXXXXXX_HIGH'], axis = 1)
df = df.drop(['XXXXXXXXXX'], axis = 1)
df = df.drop(['XXXXXXXXXX'], axis = 1)
df = df.drop(['XXXXXXXXXX'], axis = 1)
df = df.drop(['XXXXXXXXXX_HIGH'], axis = 1)

# drop the columns that we don't need
df = df.drop(['XXXXXXXXXX'], axis = 1)
df = df.drop(['XXXXXXXXXX'], axis = 1)

In [19]:
# you can decide whether to drop missing values by row, but be careful of the number of data and imbalance problem
# df = df.dropna(axis = 1, how = 'any') ## axis == 1, drop column
# df = df.dropna(axis = 0, how = 'any') ## axis == 0, drop row

In [20]:
df.shape

(862010, 164)

## Encode the data in datatype "object" and delete original column after create the new column for the data be encoded

In [21]:
# map function (if you drop nan by row above, you can use this version of map function)
# def top_map(df, column):
    # new_list = df[column].tolist()
    # de_list = list(set(new_list))
    # new_dict = {}
    # i = 0
    # for label in de_list:
        # new_dict.update({label:i})
        # i = i + 1
    # df['new_' + column] = df[column].map(new_dict)
    # df = df.drop([column], axis = 1)
    # return

# ------------------------------------------------------

# If the datatype of a column is object, then we need to encode using this version of map function.
# The encoding process of this map function will skip nan, it won't encode the missing value. 
def top_map(df, column):
    new_list = df[column].tolist()
    de_list = list(set(new_list))
    new_dict = {}
    i = 0
    for label in de_list:
        x = pd.isnull(label)
        if x == True:
            continue
        else:
            new_dict.update({label:i})
            i = i + 1
    df['new_' + column] = df[column].map(new_dict)
    df = df.drop([column], axis = 1)
    return

In [22]:
ID_list = ["XXXXXXXXXX_LAST", "XXXXXXXXXX_LAST", "XXXXXXXXXX_1st", "XXXXXXXXXX_chr", 
           "XXXXXXXXXX_ID", "XXXXXXXXXX_ID", "XXXXXXXXXX_LAST", "XXXXXXXXXX_1st", "XXXXXXXXXX_ID", "XXXXXXXXXX", "XXXXXXXXXX_LAST"]

my_type = 'object'
dtypes = df.dtypes.to_dict()

# encode the data in datatype "object" but skip the column if its name equals to the name in ID_list
for col_name, typ in dtypes.items():
    if (typ == my_type): #<--- type符合object的情況
        if col_name in ID_list:
            continue
        else:
            top_map(df, col_name)

In [23]:
# delete original column after create the new column for the data be encoded
my_type = 'object'
dtypes = df.dtypes.to_dict()

for col_name, typ in dtypes.items():
    if (typ == my_type): #<---
        if col_name in ID_list:
            continue
        else:
            df = df.drop([col_name], axis =1)

In [24]:
# check the data distribution in target variable

count_alive = 0
count_unalive = 0

for i in df["XXXXXXXXXX_LAST"]:
    # print(i)
    if i == 1:
        count_alive += 1
    else:
        count_unalive += 1
        
print(count_alive)
print(count_unalive)

847994
14016

## Save the data which still contains NA after data-cleaning as a csv(Haven't deal with the imbalance problem in target variable)

In [25]:
df.to_csv("XXXXXXXXXX.csv", index = False)

In [324]:
df.shape

(862010, 223)

## Deal with the imbalance problem in target variable

In [56]:
df = df.drop(df[df['XXXXXXXXXX_LAST'] == 1].sample(frac=.9).index)
df = df.drop(df[df['XXXXXXXXXX_LAST'] == 1].sample(frac=.7).index)

df.shape

(39456, 223)

In [57]:
# check the data distribution after we try to balance the data in target variable
count_alive = 0
count_unalive = 0

for i in df["XXXXXXXXXX_LAST"]:
    # print(i)
    if i == 1:
        count_alive += 1
    else:
        count_unalive += 1
        
print(count_alive)
print(count_unalive)

25440
14016

In [58]:
# Save the data which is clean and balanced but still contains NA
# df.to_csv("XXXXXXXXXX.csv", index=False)

In [ ]:
# --------- We finish our data-cleaning part for the model to predict whether a employee will leave --------------

# 2. Data cleaning process for the model that predict whether a employee will get promoted or get promoted within six months

In [146]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestRegressor

In [147]:
promote_df = pd.read_csv("put your HR dataset.csv here", encoding = 'unicode_escape', low_memory = False)

In [150]:
import xlrd
import pandas
features = pandas.read_excel("fexxxres.xlsx")

In [151]:
# same step as we done before
column_name_list = features['Column'].tolist()
print(column_name_list[0])
vals_list = features['ACTION'].tolist()
print(vals_list)

ROW_NUM
['D', 'S', 'S', 'S', 'S', 'D', 'S', 'D', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'D', 'S', 'S', 'S', 'S', 'D', 'S', 'D', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'D', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'Y', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', nan, nan, nan, nan, nan, nan, nan, nan, 'S', nan, 'D', nan, 'S', 'S', 'S', 'S', 'S', 'S']

In [152]:
# drop those feature that might not help for our modeling
for index in range(253):
    if (vals_list[index] != 'S'):
        promote_df.drop([column_name_list[index]],axis=1, inplace=True)

## First type of encoding for time-series data

In [154]:
def top_map_alt(time):
    time = str(time)
    t = [char for char in time]
    if(len(t)<=3):
        return 30
    #return int(t[0] + t[1]) 
    
    if t[0] == "0":
        if t[1] == "0":
            return 0
        if t[1] == "1":
            return 1
        if t[1] == "2":
            return 1
        if t[1] == "3":
            return 3
        if t[1] == "4":
            return 4
        if t[1] == "5":
            return 5
        if t[1] == "6":
            return 6
        if t[1] == "7":
            return 7
        if t[1] == "8":
            return 8
        if t[1] == "9":
            return 9
    if t[0] == "1":
        if t[1] == "0":
            return 10
        if t[1] == "1":
            return 11
        if t[1] == "2":
            return 12
        if t[1] == "3":
            return 13
        if t[1] == "4":
            return 14
        if t[1] == "5":
            return 15   
        if t[1] == "6":
            return 16 
        if t[1] == "7":
            return 17
        if t[1] == "8":
            return 18
        if t[1] == "9":
            return 19
    if t[0] == "2":
        if t[1] == 0:
            return 20
        if t[1] == 1:
            return 21
        if t[1] == 2:
            return 22
        if t[1] == 3:
            return 23

In [155]:
def top_map_n(df, column):
    df['new_'+ column] = 'ss'
    df['new_'+ column] = df[column].apply(lambda x: top_map_alt(x))
    return

In [156]:
top_map_n(promote_df, 'XXXXXXXXXX_IN_TIME')
top_map_n(promote_df, 'XXXXXXXXXX_IN_TIME')
top_map_n(promote_df, 'XXXXXXXXXX_IN_TIME')
top_map_n(promote_df, 'XXXXXXXXXX_TIME')
top_map_n(promote_df, 'XXXXXXXXXX_TIME')
top_map_n(promote_df, 'XXXXXXXXXX_TIME')

## Second type of encoding for time-series data

In [157]:
def free_milk(time):

    time = str(time)
    to_array = [char for char in time]
    if(len(to_array)<=3):
        return 4 
    aa = to_array[0]+to_array[1]+to_array[3]+to_array[4]
    
    target = int(aa, base = 10)

    if(target<749):
        return 3
    if(target<921):
        return 0
    if(target<1831):
        return 1
    return 2

In [158]:
def free_milk_super(df, column):
    df[column] = df[column].apply(lambda x: free_milk(x))
    return

In [159]:
free_milk_super(promote_df, 'XXXXXXXXXX_IN_TIME')
free_milk_super(promote_df, 'XXXXXXXXXX_IN_TIME')
free_milk_super(promote_df, 'XXXXXXXXXX_IN_TIME')
free_milk_super(promote_df, 'XXXXXXXXXX_TIME')
free_milk_super(promote_df, 'XXXXXXXXXX_TIME')
free_milk_super(promote_df, 'XXXXXXXXXX_TIME')

## Create a column records those person who clock-out quite precisely at regular clock-out time after working 8 hrs

In [162]:
TIME_MASTER = []
for i in range(len(promote_df)):
    TIME_MASTER.append(0)

In [163]:
for i in range(len(promote_df)):
    if promote_df["XXXXXXXXXX_HOUR"].iloc[i] <= 8.08 and promote_df["XXXXXXXXXX_HOUR"].iloc[i] >= 8.0:
        TIME_MASTER[i] = 1
    else:
        TIME_MASTER[i] = 0
print(TIME_MASTER[28:100])

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0]

In [164]:
promote_df['TIME_MASTER'] = TIME_MASTER

## Create a target variable which records whether a employee will get promoted

In [165]:
IS_PROMOTED = [0]

# Concept explanation: if the label in grade is changed from January to February, 
# then we record that employee as 1(get promoted) in column "IS_Promoted" in the row February 
grade_list = promote_df["XXXXXXXXXX"].tolist()
# i = 1
for i in range(1, len(promote_df)):
# for i in range(len(promote_df)):
    if grade_list[i-1] != grade_list[i]:
        IS_PROMOTED.append(1)
    else:
        IS_PROMOTED.append(0)

print(len(IS_PROMOTED))

862010

In [167]:
promote_df["IS_PROMOTED"] = IS_PROMOTED

## Create a target variable which records whether a employee will get promoted in the next six months

In [168]:
# Our name of target variable here is "FUTURE_PROMOTED_6M"
FUTURE_PROMOTED_6M = []
for i in range(len(promote_df)):
    FUTURE_PROMOTED_6M.append(0)

print(len(FUTURE_PROMOTED_6M))

862010

In [169]:
# If we detect a row value as 1(get promoted) from "IS_PROMOTED", 
# then we need to fill the value in the past six rows with 1
for i in range(5, len(promote_df)):
    if IS_PROMOTED[i] == 1:
        x = i
        for j in range(6):
            FUTURE_PROMOTED_6M[x-(j+1)] = 1
            
# print(FUTURE_PROMOTED_6M)

In [170]:
promote_df["FUTURE_PROMOTED_6M"] = FUTURE_PROMOTED_6M

## Remove those columns that might help model to predict the target

In [172]:
## drop cheaters relate to promote and deal with redundant features
promote_df.drop(["XXXXXXXXXX_LAST"],axis=1, inplace=True)
promote_df.drop(["XXXXXXXXXX_12M"],axis=1, inplace=True)
promote_df.drop(["XXXXXXXXXX_9M"],axis=1, inplace=True)
promote_df.drop(["XXXXXXXXXX_6M"],axis=1, inplace=True)
promote_df.drop(["XXXXXXXXXX_3M"],axis=1, inplace=True)
promote_df.drop(["XXXXXXXXXX_chr"],axis=1, inplace=True)
promote_df.drop(["XXXXXXXXXX"],axis=1, inplace=True)
promote_df.drop(["XXXXXXXXXX"],axis=1, inplace=True)
promote_df.drop(["XXXXXXXXXX_GJL"],axis=1, inplace=True)
promote_df.drop(["XXXXXXXXXX_MTH"],axis=1, inplace=True)
promote_df.drop(["XXXXXXXXXX_6M"],axis=1, inplace=True)
promote_df.drop(["XXXXXXXXXX_12M"],axis=1, inplace=True)
promote_df.drop(["XXXXXXXXXX_18M"],axis=1, inplace=True)
promote_df.drop(["XXXXXXXXXX_24M"],axis=1, inplace=True)


# df.drop(["EMPLOYEE_ID"], axis = 1, inplace=True)
promote_df.drop(["XXXXXXXXXX_3M"], axis = 1, inplace=True)
promote_df.drop(["XXXXXXXXXX_6M"], axis = 1, inplace=True)
promote_df.drop(["XXXXXXXXXX_LAST"], axis = 1, inplace=True)
promote_df.drop(["XXXXXXXXXX_1st"], axis = 1, inplace=True)
promote_df.drop(["XXXXXXXXXX_HOUR"], axis = 1, inplace=True)
# promote_df.drop(["NUM_TRAVEL_COUNT_EMP"], axis = 1, inplace=True)

In [173]:
promote_df = promote_df.drop(['XXXXXXXXXX_LOW'], axis = 1)
promote_df = promote_df.drop(['XXXXXXXXXX_HIGH'], axis = 1)
promote_df = promote_df.drop(['XXXXXXXXXX'], axis = 1)
promote_df = promote_df.drop(['XXXXXXXXXX'], axis = 1)
promote_df = promote_df.drop(['XXXXXXXXXX_LOW'], axis = 1)
promote_df = promote_df.drop(['XXXXXXXXXX_HIGH'], axis = 1)
promote_df = promote_df.drop(['XXXXXXXXXX'], axis = 1)
promote_df = promote_df.drop(['XXXXXXXXXX'], axis = 1)

In [174]:
# dropna
#df = df.dropna(axis = 1, how = 'any') ## axis == 1, drop column
# promote_df = promote_df.dropna(axis = 0, how = 'any') ## axis == 0, drop row

## Encode the data in datatype "object" and delete original column after create the new column for the data be encoded

In [175]:
# map function (This function won't encode the missing value)
def top_map(df, column):
    new_list = df[column].tolist()
    de_list = list(set(new_list))
    new_dict = {}
    i = 0
    for label in de_list:
        x = pd.isnull(label)
        if x == True:
            continue
        else:
            new_dict.update({label:i})
            i = i + 1
    df['new_' + column] = df[column].map(new_dict)
    df = df.drop([column], axis = 1)
    return

In [176]:
ID_list = ["XXXXXXXXXX_LAST", "XXXXXXXXXX_LAST", "XXXXXXXXXX_1st", "XXXXXXXXXX_chr", 
           "XXXXXXXXXX_ID", "XXXXXXXXXX_ID", "XXXXXXXXXX_LAST", "XXXXXXXXXX_1st", "XXXXXXXXXX_ID", "XXXXXXXXXX", "XXXXXXXXXX_LAST"]

my_type = 'object'
dtypes = promote_df.dtypes.to_dict()

for col_name, typ in dtypes.items():
    if (typ == my_type):
        if col_name in ID_list:
            continue
        else:
            top_map(promote_df, col_name)

In [177]:
my_type = 'object'
dtypes = promote_df.dtypes.to_dict()

for col_name, typ in dtypes.items():
    if (typ == my_type): 
        if col_name in ID_list:
            continue
        else:
            promote_df = promote_df.drop([col_name], axis =1)

In [178]:
# check the data distribution in target variable
count_promote = 0
count_unpromote = 0

for i in promote_df["FUTURE_PROMOTED_6M"]:
    # print(i)
    if i == 1:
        count_promote += 1
    else:
        count_unpromote += 1
        
print(count_promote)
print(count_unpromote)

228835
633175

## Save the data which still contains NA after data-cleaning as a csv(Haven't deal with the imbalance problem in target variable)

In [179]:
promote_df.to_csv("XXXXXXXXXX.csv", index = False)

In [180]:
promote_df.shape

(862010, 216)

## Deal with the imbalance problem in target variable

In [181]:
promote_df = promote_df.drop(promote_df[promote_df['FUTURE_PROMOTED_6M'] != 1].sample(frac=.4).index)
# promote_df = promote_df.drop(promote_df[promote_df['FUTURE_PROMOTED_6M'] == 1].sample(frac=.7).index)

promote_df.shape

(608740, 216)

In [182]:
# check the data distribution in target variable after we deal the imbalance problem
count_promote = 0
count_unpromote = 0

for i in promote_df["FUTURE_PROMOTED_6M"]:
    # print(i)
    if i == 1:
        count_promote += 1
    else:
        count_unpromote += 1
        
print(count_promote)
print(count_unpromote)

228835
379905

In [183]:
# Save the dataset which is clean and balanced but still contains NA, and you can begin to build your XGBoost model
promote_df.to_csv("XXXXXXXXXX.csv", index=False)

In [ ]:
# ----- We finish our data-cleaning part for the model to predict whether a employee will get promoted or promoted within six months -----

# 3. Modeling part using XGBoost

In [ ]:
pip install xgboost

In [ ]:
### load module
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import io

import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from xgboost import XGBClassifier
from xgboost import plot_importance
import xgboost as xgb

In [ ]:
AutoML_df = pd.read_csv("the dataset correspond to the target you want to predict.csv", encoding = 'unicode_escape', low_memory = False)

In [ ]:
# data split part

drop_column_list = ['XXXXXXXXXX_LAST', 'XXXXXXXXXX_ID', 'XXXXXXXXXX_LAST', 'XXXXXXXXXX_LAST', 
                    'XXXXXXXXXX_1st', 'XXXXXXXXXX_chr', 'XXXXXXXXXX_ID', 'XXXXXXXXXX', 
                    'XXXXXXXXXX_ID']
# make sure that the dataset used to train the model doesn't contain the column in drop_column_list
x = AutoML_df.drop(labels = drop_column_list, axis=1).values
y = AutoML_df['XXXXXXXXXX_LAST'].values
x_train , x_test , y_train , y_test = train_test_split(x, y, test_size = 0.3, random_state = 42)

In [ ]:
# fit model
model = xgb.XGBClassifier(learning_rate = 0.05,
                      n_estimators = 500,        # the number of tree you need - use 500 trees to build XGBoost
                      max_depth = 5,             # the depth of the tree
                      min_child_weight = 1,      # the weight of leave node               
                      subsample = 1,             # Randomly choose 80% of dataset to build decision tree
                      colsample_btree = 1,       # Randomly choose 80% of features to build decision tree
                      colsample_bylevel = 1,
                      random_state = 27,         # random state setting
                      alpha = 0,
                      reg_lambda = 1,
                      max_leaves = 0,
                      max_bin = 256
                      )

model.fit(x_train, y_train)

In [ ]:
# plot feature importance

model.get_booster().feature_names = AutoML_df.drop(labels = drop_column_list, axis=1).columns.values.tolist()

fig,ax = plt.subplots(figsize=(15,15))
plot_importance(model.get_booster(),
                height=0.5,
                ax=ax,
                max_num_features=64)
plt.show()

In [ ]:
# make prediction for test data
y_pred = model.predict(x_test)

In [ ]:
# model evaluate (accuracy rate)
accuracy = accuracy_score(y_test,y_pred)
print("accuarcy: %.2f%%" % (accuracy*100.0))

In [ ]:
# plot confusion matrix
from sklearn.metrics import classification_report, confusion_matrix

def confusio_matrix(y_test, y_predicted):
    cm = confusion_matrix(y_test, y_predicted)
    plt.figure(figsize=(15,10))
    plt.clf()
    plt.imshow(cm, interpolation='nearest', cmap=plt.cm.Wistia)
    classNames = ['0','1']
    plt.title('Confusion Matrix')
    plt.ylabel('True label')
    plt.xlabel('Predicted label')
    tick_marks = np.arange(len(classNames))
    plt.xticks(tick_marks, classNames, rotation=45)
    plt.yticks(tick_marks, classNames)
    s = [['TN','FP'], ['FN', 'TP']]
  
    for i in range(2):
        for j in range(2):
            plt.text(j,i, str(s[i][j])+" = "+str(cm[i][j]))
    plt.show()

In [ ]:
confusio_matrix(y_test,y_pred)

In [ ]:
# some statistics to evaluate the model you build

from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, f1_score

def score(m, x_train, y_train, x_test, y_test, train=True):
    if train:
        pred=m.predict(x_train)
        print('Train Result:\n')
        print(f"Accuracy Score: {accuracy_score(y_train, pred)*100:.2f}%")
        print(f"Precision Score: {precision_score(y_train, pred)*100:.2f}%")
        print(f"Recall Score: {recall_score(y_train, pred)*100:.2f}%")
        print(f"F1 score: {f1_score(y_train, pred)*100:.2f}%")
        # print(f"Confusion Matrix:\n {confusion_matrix(y_train, pred)}")
    elif train == False:
        pred=m.predict(x_test)
        print('Test Result:\n')
        print(f"Accuracy Score: {accuracy_score(y_test, pred)*100:.2f}%")
        print(f"Precision Score: {precision_score(y_test, pred)*100:.2f}%")
        print(f"Recall Score: {recall_score(y_test, pred)*100:.2f}%")
        print(f"F1 score: {f1_score(y_test, pred)*100:.2f}%")
        # print(f"Confusion Matrix:\n {confusion_matrix(y_test, pred)}")

In [ ]:
score(model, x_train, y_train, x_test, y_test, train=False)